<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页_{$site.title}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="bookmark" href="/favicon.ico"/>
	<meta content="{$site.keywords}" name="keywords" />
	<meta content="{$site.description}" name="description" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__PLUG__/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
</head>
<body>
<!-- 导航 -->
<div class="navbar kj-nav nav-title navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{$site.url}" class="navbar-brand logo"><img src="{$site.image}" alt="LOGO"></a>
		</div>
		<div class="collapse navbar-collapse kj-nav-pro navbar-right" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				
                    <li class="navTwoBox borderB" >
						<a href="">首页</a>
					</li>
                
			</ul>
		</div>
	</div>
</div>
<notempty name="carousel">
<div class="carousel slide jdt" id="myCarousel" data-ride="carousel" data-interval="3000">
	<div class="carousel-inner">
		<volist name="carousel" id="car">
			<div class="item jdtbox1 <if condition='$key eq 0'>active</if>">
				<a href="{$car.url}"><img src="img/bg.jpg" alt="{$car.title}"></a>
			</div>
		</volist>
	</div>
	<a href="#myCarousel" class="carousel-control left" data-slide="prev"></a>
	<a href="#myCarousel" class="carousel-control right" data-slide="next"></a>
</div>
</notempty>
<div class="container foot-top kj-navtabs">

</div>




<style type="text/css">
    .row{padding: 50px 0;}
    .kj-index-intro{display: inline; width: 58%;}
    .kj-service{margin-top: 20px;}
    .kj-opacity{opacity: 0;}
    .kj-img{margin-right: 15px;}
    .kj-top{animation: scrollTop 1s both}
    .kj-left{animation: scrollLeft 1s both;}
    .kj-right{animation: scrollRight 1s both;}
    .kj-bottom{animation: scrollBottom 1s both;}
    .kj-scrollImg{animation: scrollImg 1s both;}
    .kj-16{font-size: 16px;text-indent: 2em;line-height: 1.7;color:#333;}
    .kj-posr{position: relative;z-index: 2;}
    .kj-posr .kj-hover{position: absolute;top: 0;left: 0;z-index: 3;width:100%;background-color: rgba(0,0,0,0.4);color:#fff;height: 100%;padding: 5px 15px;transition: opacity .8s;display: flex;align-items:flex-end;}
    .kj-posr .kj-hover h4{display: flex;width: 100%;flex:1;}
    .kj-posr .kj-hover p{display: flex;flex:3;}
    .kj-posr:hover .kj-hover{opacity: 1;}
    @keyframes scrollLeft{0%{opacity: 0;transform: translateX(-50px);}100%{opacity: 1;transform: translateX(0px);}}
    @keyframes scrollRight{0%{opacity: 0;transform: translateX(50px);}100%{opacity: 1;transform: translateX(0px);}}
    @keyframes scrollTop{0%{opacity: 0;transform: translateY(-50px);}100%{opacity: 1;transform: translateY(0px);}}
    @keyframes scrollBottom{0%{opacity: 0;transform: translateY(50px);}100%{opacity: 1;transform: translateY(0px);}}
    @keyframes scrollImg{
        0%{transform:perspective(400px) rotateX(90deg);opacity:0;}
        40%{transform:perspective(400px) rotateX(-10deg);}
        70%{transform:perspective(400px) rotateX(10deg);}
        100%{transform:perspective(400px) rotateX(0deg);opacity:1;}
</style>
<!-- 主营业务 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>主营业务</h2>
            <h2 class="small"><a href="#">更多</a></h2>
        </div>
		<div class="col-md-6 col-sm-6 col-xs-12 kj-service">
			<img src="img/pro1.jpg" width="40%" class="kj-opacity kj-animate pull-left kj-img" data-animate="kj-left">
			<div class="kj-index-intro clearfix">
				<h4 class="kj-animate kj-opacity" data-animate="kj-right"><a href="{:U('/'.$vo['name'])}">1</a></h4>
				<p class="kj-animate kj-opacity" data-animate="kj-right">
					用计算机技术将模拟信号转换为数字信号的处理过程。纸质档案数字化就是采用扫描仪或数码相机等数码设备对纸质档案进行数字化加工，将其转化为存储在磁带、磁盘
				</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 kj-service">
			<img src="img/pro2.jpg" width="40%" class="kj-opacity kj-animate pull-left kj-img" data-animate="kj-left">
			<div class="kj-index-intro clearfix">
				<h4 class="kj-animate kj-opacity" data-animate="kj-right"><a href="{:U('/'.$vo['name'])}">1</a></h4>
				<p class="kj-animate kj-opacity" data-animate="kj-right">
					用计算机技术将模拟信号转换为数字信号的处理过程。纸质档案数字化就是采用扫描仪或数码相机等数码设备对纸质档案进行数字化加工，将其转化为存储在磁带、磁盘
				</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 kj-service">
			<img src="img/pro3.jpg" width="40%" class="kj-opacity kj-animate pull-left kj-img" data-animate="kj-left">
			<div class="kj-index-intro clearfix">
				<h4 class="kj-animate kj-opacity" data-animate="kj-right"><a href="{:U('/'.$vo['name'])}">1</a></h4>
				<p class="kj-animate kj-opacity" data-animate="kj-right">
					用计算机技术将模拟信号转换为数字信号的处理过程。纸质档案数字化就是采用扫描仪或数码相机等数码设备对纸质档案进行数字化加工，将其转化为存储在磁带、磁盘
				</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 kj-service">
			<img src="img/pro4.jpg" width="40%" class="kj-opacity kj-animate pull-left kj-img" data-animate="kj-left">
			<div class="kj-index-intro clearfix">
				<h4 class="kj-animate kj-opacity" data-animate="kj-right"><a href="{:U('/'.$vo['name'])}">1</a></h4>
				<p class="kj-animate kj-opacity" data-animate="kj-right">
					用计算机技术将模拟信号转换为数字信号的处理过程。纸质档案数字化就是采用扫描仪或数码相机等数码设备对纸质档案进行数字化加工，将其转化为存储在磁带、磁盘
				</p>
			</div>
		</div>
    </div>
</div>
<!-- 服务项目 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>服务项目</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="thumbnail kj-service borderNone bgNone">
                <img src="img/service.jpg" alt=""  class="kj-opacity kj-animate" data-animate="kj-left">
                <div class="caption kj-opacity kj-animate" data-animate="kj-right">
                    <p>我们会为您提供一天24小时的在线服务</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="thumbnail kj-service borderNone bgNone">
                <img src="img/service.jpg" alt=""  class="kj-opacity kj-animate" data-animate="kj-left">
                <div class="caption kj-opacity kj-animate" data-animate="kj-right">
                    <p>我们会为您提供一天24小时的在线服务</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="thumbnail kj-service borderNone bgNone">
                <img src="img/service.jpg" alt=""  class="kj-opacity kj-animate" data-animate="kj-left">
                <div class="caption kj-opacity kj-animate" data-animate="kj-right">
                    <p>我们会为您提供一天24小时的在线服务</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关于我们 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>关于我们</h2>
            <h2 class="small"><a href="#">更多</a></h2>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <p class="kj-animate kj-16 kj-opacity" data-animate="kj-left">南京坤爵信息技术有限公司，主要从事计算机软硬件、网络工程、服务外包及档案数字化相关产业。是一家专注于档案数字化加工领域多年的高科技服务型企业。严格遵守档案数字化行业标准和保密规定，为机关企事业单位、金融、电力、报社、公检法、国土、房产、档案馆等及各类企业提供专业的数字化加工服务。公司拥有专业、先进的数字化加工设备，自主产权的数字化加工软件和丰富的行业加工管理经验，以高效、高质量和优质的服务建立起行业的品牌形象。</p>
            <p class="kj-animate kj-16 kj-opacity" data-animate="kj-right">坤爵信息总部设在南京，公司股东均为计算机专业毕业，并有多年数字化软件实施和数字化加工管理经验。下设办公室、财务部、人事部、软件部、技术部、销售部、数字化加工生产部、售后服务部等。公司由原来30多人，发展成目前拥有项目管理人员30多人、员工260多人，其中本科5人...</p>
        </div>
    </div>
</div>
<!-- 员工风采 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>员工风采</h2>
            <h2 class="small"><a href="#">更多</a></h2>
        </div>
        <div class="col-md-4 com-sm-4 col-xs-12">
            <div class="thumbnail kj-opacity kj-animate" data-animate="kj-scrollImg">
                <img src="img/03.jpg">
            </div>
        </div>
        <div class="col-md-4 com-sm-4 col-xs-12">
            <div class="thumbnail kj-opacity kj-animate" data-animate="kj-scrollImg">
                <img src="img/04.jpg">
            </div>
        </div>
        <div class="col-md-4 com-sm-4 col-xs-12">
            <div class="thumbnail kj-opacity kj-animate" data-animate="kj-scrollImg">
                <img src="img/03.jpg">
            </div>
        </div>
    </div>
</div>
<!-- 新闻动态 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>新闻动态</h2>
            <h2 class="small"><a href="#">更多</a></h2>
        </div>
        <div class="col-md-1 col-sm-1 hidden-xs"></div>
        <div class="col-md-5 col-sm-5 col-xs-12 kj-opacity kj-animate" data-animate="kj-left">
            <ul class="kj-news">
		        <li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">怎样评价新垣结衣？</a>
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">《大闹天竺》上映六天票房5.6亿，“悲情营销”为何没能拯救王宝强处女作？</a>
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">特朗普怒挂澳总理电话 原定1小时谈话仅谈了25分钟</a>
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">菲总统请中国帮助打海盗：“就像在索马里那样”</a>
            </ul>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 kj-opacity kj-animate" data-animate="kj-right">
            <ul class="kj-news">
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">YHBOYS被指抄袭TFBOYS，成员长相也相似</a>
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">网曝李亚鹏再婚 丈母娘群发全家合照晒幸福</a>
				<li><a href="{:U('/detail/'.$newsItem['id'])}" title="{$newsItem.title}">这次魅族终于把演唱会“搬上台面” 给你一场真正的演唱会</a>
            </ul>
        </div>
        <div class="col-md-1 col-sm-1 hidden-xs"></div>
    </div>
</div>
<!-- 企业团队 -->
<div class="container">
    <div class="row">
        <div class="kj-index-title kj-page kj-opacity kj-animate" data-animate="kj-top">
            <h2>企业团队</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/01.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>产品经理</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/02.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>技术总监</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/01.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>产品经理</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/02.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>技术总监</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/01.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>产品经理</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 kj-posr">
            <div class="thumbnail kj-opacity kj-pointer kj-animate" data-animate="kj-scrollImg">
                <img src="img/02.jpg">
                <div class="kj-hover kj-opacity">
                    <h4>技术总监</h4>
                    <p>多年从事相关行业，经验丰富</p>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
<script type="text/javascript" src="__JS__/viewer.min.js"></script>
<script type="text/javascript" src="__JS__/revealOnScroll.min.js"></script>

    
</div>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    // revealOnScroll("kj-animate");
</script>
<!-- 站底 -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-8 col-xs-12 foot-top">
				<h4 class="footer-title">联系地址</h4>
				<ul class="style-none foot-ul">
					<li><i class="glyphicon glyphicon-home"></i>&nbsp;{$site.address}</li>
					<li><i class="glyphicon glyphicon-phone"></i>&nbsp;手机：{$site.phone}</li>
					<li><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;电话/传真：{$site.tel}</li>
					<li><i class="glyphicon glyphicon-envelope"></i>&nbsp;邮箱：{$site.email}</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12 foot-top">
				<h4 class="footer-title">栏目</h4>
				<ul class="style-none foot-ul">
					<volist name="nav_list" id="nav">					
						<neq name='nav.type' value='6'><li><a href="{:U('/'.$nav['name'])}">{$nav.title}</a></li></neq>
					</volist>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 foot-top">
				<h4 class="footer-title">成功案例</h4>
				<ul class="style-none foot-ul successAL">
					<volist name="case" id="cs">
						<li class="<if condition='$key%2 eq 0'>col-md-6 col-sb-12 col-xs-12<else />col-md-6 col-sb-12 col-xs-12</if>"><a href="{:U('/detail/'.$cs['id'])}">{$cs.title}</a></li>
					</volist>
				</ul>
			</div>
			<div class="col-md-4 col-sm-8 col-xs-12 foot-top">
				<h4 class="footer-title">互动</h4>				
				<div class="col-md-3">
					<img src="img/qrcode.png" alt="LOGO" width="80px" style="margin-top:13px;">
				</div>
				<div class="col-md-9">
					<h4>{$site.title}</h4>
					<notempty name="site.copyright"><h6>&copy; {$site.copyright}</h6></notempty>
					<notempty name="site.icp"><h6>{$site.icp}</h6></notempty>
					<h6>技术支持：Jswei、Jason&nbsp;&nbsp;<a href="{$site.url}/admin.html">登录后台</a></h6>
				</div>
			</div>
		</div>
		{$site.code|htmlspecialchars_decode}
	</div>
</div>
<script type="text/javascript" src="__PLUG__/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
</body>
</html>