<include file="Common:header"/>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <include file="Common:nav"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content fill-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        Dashboard <small>statistics and more</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="{:U('Index/index')}">首页</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <notempty name="breadcrumb">
                            {$breadcrumb}
                            <else/>
                            <li><a href="#">Dashboard</a></li>
                        </notempty>
                        <li class="pull-right no-text-shadow">
                            <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
                                 data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                                <i class="icon-calendar"></i>
                                <span></span>
                                <i class="icon-angle-down"></i>
                            </div>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!--BEGIN PAGER FORM-->
            <div class="row-fluid">
                <div class="span12">
                    <div class="portlet box purple">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>{$model.name|default='修改密码'}</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload" data-role="__METRONIC_IMG__/fancybox_loading.gif" data-form="form_sample_1" data-reset="1"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="__URL__/setPasswordHandler" method="post" id="form_sample_7" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
                                <div class="alert alert-error hide">
                                    <button class="close" data-dismiss="alert"></button>
                                    请将必填的填写完整
                                </div>
                                <div class="control-group">
                                    <label class="control-label">旧密码<span class="required">*</span></label>
                                    <div class="controls">
                                        <input type="password" name="old_password" id="old_password"  class="span4 m-wrap" placeholder="请输入旧密码">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">新密码<span class="required">*</span></label>
                                    <div class="controls">
                                        <input type="password" name="new_password" id="new_password"  class="span4 m-wrap" placeholder="请输入新密码">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">确认密码<span class="required">*</span></label>
                                    <div class="controls">
                                        <input type="password" name="comfr_password" id="comfr_password" class="span4 m-wrap" placeholder="请输入确认密码">
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn purple">提交</button>
                                    <button type="button" class="btn" onclick="window.history.go(-1);">返回</button>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END PAGER FORM-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN PAGE LEVEL STYLES -->
<script type="text/javascript">
    $(function(){
        $("#form_sample_7").submit(function(e){
            e.preventDefault();
            var old_password = $('#old_password').val();

            if(old_password==''){
                layer.alert('请输入旧密码',{icon:5,end:function () {
                    $('#old_password').focus();
                }});
                return false;
            }
            var new_password = $('#new_password').val();
            if(new_password==''){
                layer.alert('请输入新密码',{icon:5,end:function () {
                    $('#new_password').focus();
                }});
                return false;
            }
            var comfr_password = $('#comfr_password').val();
            if(comfr_password==''){
                layer.alert('请再次输入新密码',{icon:5,end:function () {
                    $('#comfr_password').focus();
                }});
                return false;
            }
            if(comfr_password!=new_password){
                layer.alert('两次输入密码不一致',{icon:5,end:function () {
                    $('#comfr_password').val('');
                    $('#comfr_password').focus();
                }});
                return false;
            }
            $.post($('#form_sample_7').attr('action'),$('#form_sample_7').serialize(),function (data) {
                if(data.status==1){
                    layer.alert(data.msg,{icon:6,end:function () {
                        window.location.href='{:U("Login/logout")}';
                    }});
                }else {
                    layer.alert(data.msg,{icon:5});
                }
            });
        });
    });
</script>
<!-- END PAGE LEVEL STYLES -->
<include file="Common:footer"/>